[user]
	name = grChad
	email = bgos-jesus@hotmail.com
[credential]
	helper = store
[color]
	ui = auto
[init]
	defaultbranch = main
[core]
	editor = nvim
[http]
	postBuffer = 524288000
	lowSpeedLimit = 0
	lowSeedTime = 999999
